doctype html
html(lang='en')
  head
    title #{ product.name } at Shopper
  body        
    section.Product
      img.Product-image(src=product.image)
      header
        h1 #{ product.name }
        if (product.reviews)
          figure.Rating
            span.Rating-stars
              - var n = product.reviews.averageRating
              while (n-- > 0)
                span.Rating-star +
            span.Rating-count  (from #{ product.reviews.count } reviews)
      article
        p.Product-price Price: $#{ product.price }
        if (product.hasOwnProperty('inventory'))
          p.Product-stock #{ product.inventory } in stock
        p.Product-description #{ product.description }
    section.Related
      header
        h2 Customers Who Viewed This Item Also Viewed
        if product.related
          nav.Related-products
            for p in product.related
              img.Related-image(src=p.image)
